*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	background-color: rgb(27, 27, 27);
	gap: 10px;
}
.row {
	display: flex;
	width: 95%;
	gap: 2px;
}
.display-section {
	background-color: rgba(26, 1, 26, 0.36);
}
.input-section {
	background-color: rgba(26, 1, 26, 0.36);
	gap: 5px;
}
#display {
	width: 95%;
	/* word-wrap: break-word; */
	height: 4rem;
	text-align: right;
	font-size: large;
	font-weight: 600;
	border-radius: 5%;
	overflow-wrap: break-word;
}
.display-section,
.input-section {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	flex: 1;
	height: 4rem;
	width: 5rem;
	border-radius: 15%;
}
button.long {
	flex: 2;
}
