*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	background-color: rgb(27, 27, 27);
	gap: 10px;
}
.row {
	display: flex;
	width: 95%;
	gap: 2px;
}
#current {
	width: 95%;
	height: 4rem;
	text-align: right;
	font-size: larger;
	font-weight: 600;
	background-color: rgb(20, 20, 20);
	color: aliceblue;
	border: 25%;
	padding: 20px;
}
.display-section,
.input-section {
	width: 60%;
	gap: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	flex: 1;
	height: 4rem;
	width: 5rem;
	font-weight: bolder;
	font-size: large;
}
button.long {
	flex: 2;
	background-color: rgb(4, 52, 57);
}
#previous {
	height: 2rem;
	text-align: left;
	width: 95%;
	font-weight: 500;
	background-color: rgba(20, 20, 20, 0.579);
	color: aliceblue;
	border: 25%;
	padding: 5px;
}
